n8n-workflow-landing-lead.json
{
    "name": "Landing Lead Capture → Odoo CRM",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "landing-lead",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "https://landing.redeon.cloud,https://landing.srv1170741.hstgr.cloud"
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "token-check",
                            "leftValue": "={{ $json.headers['x-lead-token'] }}",
                            "rightValue": "ba32e3b1599875b750d31ea0d8dbba30549897e150f0442f4fbd2dabc98f2196",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "validate-token",
            "name": "Validate Token",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "has-name",
                            "leftValue": "={{ $json.body.name }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        },
                        {
                            "id": "has-email",
                            "leftValue": "={{ $json.body.email }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        },
                        {
                            "id": "has-company",
                            "leftValue": "={{ $json.body.company }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "validate-data",
            "name": "Validate Data",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                660,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://erp.{{ $env.DOMAIN_NAME || 'srv1170741.hstgr.cloud' }}/xmlrpc/2/common",
                "sendBody": true,
                "specifyBody": "string",
                "body": "=<?xml version=\"1.0\"?>\n<methodCall>\n  <methodName>authenticate</methodName>\n  <params>\n    <param><value><string>redeon</string></value></param>\n    <param><value><string>{{ $env.ODOO_USER || 'admin' }}</string></value></param>\n    <param><value><string>{{ $env.ODOO_API_KEY }}</string></value></param>\n    <param><value><struct></struct></value></param>\n  </params>\n</methodCall>",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "odoo-auth",
            "name": "Odoo Authenticate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                880,
                180
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://erp.{{ $env.DOMAIN_NAME || 'srv1170741.hstgr.cloud' }}/xmlrpc/2/object",
                "sendBody": true,
                "specifyBody": "string",
                "body": "=<?xml version=\"1.0\"?>\n<methodCall>\n  <methodName>execute_kw</methodName>\n  <params>\n    <param><value><string>redeon</string></value></param>\n    <param><value><int>{{ $('Odoo Authenticate').item.json.data.match(/<int>(\\d+)<\\/int>/)?.[1] || '2' }}</int></value></param>\n    <param><value><string>{{ $env.ODOO_API_KEY }}</string></value></param>\n    <param><value><string>crm.lead</string></value></param>\n    <param><value><string>create</string></value></param>\n    <param>\n      <value>\n        <array>\n          <data>\n            <value>\n              <struct>\n                <member>\n                  <name>name</name>\n                  <value><string>Landing - {{ $('Webhook Trigger').item.json.body.company }}</string></value>\n                </member>\n                <member>\n                  <name>contact_name</name>\n                  <value><string>{{ $('Webhook Trigger').item.json.body.name }}</string></value>\n                </member>\n                <member>\n                  <name>email_from</name>\n                  <value><string>{{ $('Webhook Trigger').item.json.body.email }}</string></value>\n                </member>\n                <member>\n                  <name>partner_name</name>\n                  <value><string>{{ $('Webhook Trigger').item.json.body.company }}</string></value>\n                </member>\n                <member>\n                  <name>description</name>\n                  <value><string>{{ $('Webhook Trigger').item.json.body.message }}\n\n---\nSource: Landing Page\nLanguage: {{ $('Webhook Trigger').item.json.body.language }}\nTimestamp: {{ $('Webhook Trigger').item.json.body.timestamp }}</string></value>\n                </member>\n                <member>\n                  <name>type</name>\n                  <value><string>lead</string></value>\n                </member>\n              </struct>\n            </value>\n          </data>\n        </array>\n      </value>\n    </param>\n    <param><value><struct></struct></value></param>\n  </params>\n</methodCall>",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "odoo-create-lead",
            "name": "Create CRM Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1100,
                180
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"message\": \"Lead created successfully\" }",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1320,
                180
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": false, \"message\": \"Unauthorized\" }",
                "options": {
                    "responseCode": 403
                }
            },
            "id": "respond-unauthorized",
            "name": "Respond Unauthorized",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                660,
                420
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": false, \"message\": \"Missing required fields: name, email, company\" }",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "respond-bad-request",
            "name": "Respond Bad Request",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                360
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Validate Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Token": {
            "main": [
                [
                    {
                        "node": "Validate Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Unauthorized",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Data": {
            "main": [
                [
                    {
                        "node": "Odoo Authenticate",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Bad Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Odoo Authenticate": {
            "main": [
                [
                    {
                        "node": "Create CRM Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create CRM Lead": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "CRM"
        },
        {
            "name": "Landing"
        }
    ]
}