n8n-workflow-landing-lead.json
{
    "name": "Landing Lead Capture → Odoo CRM",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "landing-lead",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "https://www.redeon.cloud,https://redeon.cloud"
                }
            },
            "id": "d1a1b2c3-0001-4000-8000-000000000001",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                300
            ],
            "webhookId": "landing-lead"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "token-check",
                            "leftValue": "={{ $json.headers['x-lead-token'] }}",
                            "rightValue": "ba32e3b1599875b750d31ea0d8dbba30549897e150f0442f4fbd2dabc98f2196",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "d1a1b2c3-0001-4000-8000-000000000002",
            "name": "Validate Token",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "loose"
                    },
                    "conditions": [
                        {
                            "id": "has-name",
                            "leftValue": "={{ $json.name }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        },
                        {
                            "id": "has-email",
                            "leftValue": "={{ $json.email }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        },
                        {
                            "id": "has-company",
                            "leftValue": "={{ $json.company }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isNotEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "d1a1b2c3-0001-4000-8000-000000000003",
            "name": "Validate Data",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                660,
                240
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "resource": "lead",
                "additionalFields": {
                    "contact_name": "={{ $('Webhook Trigger').item.json.name }}",
                    "email_from": "={{ $('Webhook Trigger').item.json.email }}",
                    "partner_name": "={{ $('Webhook Trigger').item.json.company }}",
                    "description": "={{ $('Webhook Trigger').item.json.message }}\n\n---\nSource: Landing Page ({{ $('Webhook Trigger').item.json.source }})\nLanguage: {{ $('Webhook Trigger').item.json.language }}\nTimestamp: {{ $('Webhook Trigger').item.json.timestamp }}",
                    "name": "=Landing - {{ $('Webhook Trigger').item.json.company }}",
                    "type": "lead"
                }
            },
            "id": "d1a1b2c3-0001-4000-8000-000000000004",
            "name": "Create CRM Lead",
            "type": "n8n-nodes-base.odoo",
            "typeVersion": 1,
            "position": [
                880,
                180
            ],
            "credentials": {
                "odooApi": {
                    "id": "",
                    "name": "Asistente Odoo"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead created', leadId: $json.id }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "d1a1b2c3-0001-4000-8000-000000000005",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1100,
                180
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, message: 'Unauthorized' }) }}",
                "options": {
                    "responseCode": 403
                }
            },
            "id": "d1a1b2c3-0001-4000-8000-000000000006",
            "name": "Respond Unauthorized",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                660,
                420
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: false, message: 'Missing required fields: name, email, company' }) }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "d1a1b2c3-0001-4000-8000-000000000007",
            "name": "Respond Bad Request",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                880,
                360
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Validate Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Token": {
            "main": [
                [
                    {
                        "node": "Validate Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Unauthorized",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Data": {
            "main": [
                [
                    {
                        "node": "Create CRM Lead",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Bad Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create CRM Lead": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "CRM"
        },
        {
            "name": "Landing"
        }
    ]
}