n8n-workflow-landing-data.json
{
    "name": "Landing Data Proxy (Odoo → React)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "landing-data",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [220, 300]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "variable": "={{ $json.headers['x-api-key'] }}",
                            "value": "ba32e3b1599875b750d31ea0d8dbba30549897e150f0442f4fbd2dabc98f2196"
                        }
                    ]
                }
            },
            "id": "validate-token",
            "name": "Validate Token",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [440, 300]
        },
        {
            "parameters": {
                "resource": "custom",
                "customResource": "product.template",
                "operation": "getAll",
                "filters": {
                    "custom_filter": "[('all_product_tag_ids.name', '=', 'Landing')]"
                },
                "fields": [
                    "name",
                    "list_price",
                    "description_sale"
                ]
            },
            "id": "72b05312-9d7a-4663-a1f7-6dca96e5efb7",
            "name": "Get Odoo Products",
            "type": "n8n-nodes-base.odoo",
            "typeVersion": 1,
            "position": [720, 304],
            "credentials": {
                "odooApi": {
                    "id": "yaRfIhALEE7rwaPI",
                    "name": "Asistente Odoo"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Logic to transform Odoo products to TranslationSchema\nconst products = $input.all();\nconst lang = $node[\"Webhook Trigger\"].json.query.lang || 'pt';\n\n// Placeholder for transformation logic\nreturn {\n  pricing: {\n    plans: products.map(p => ({\n      level: p.json.name,\n      title: p.json.list_price,\n      description: '/implementação',\n      features: [p.json.description_sale],\n      cta: 'Selecionar'\n    }))\n  }\n};"
            },
            "id": "format-response",
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [880, 200]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [1100, 200]
        }
    ],
    "connections": {
        "Webhook Trigger": { "main": [[{ "node": "Validate Token", "type": "main", "index": 0 }]] },
        "Validate Token": { "main": [[{ "node": "Get Odoo Products", "type": "main", "index": 0 }]] },
        "Get Odoo Products": { "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]] },
        "Format Response": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
    }
}
